div.grid-container {
	display: grid;
}

div.grid-container.origin {
	position:absolute;
	top:0; bottom:0; left:0;	
	grid-template-columns: 110px auto;
	width: 100%;
}

div.grid-container.gameboard {
	padding: 10px;
	width: max-content;
	margin: auto;
}
div.grid-container.gameboard.blue {
	background-color: #2196F3;
}
div.grid-container.gameboard.red {
	background-color: #ff5050;
}

div.grid-item.background {
	text-align: center;
	width: 100%;
}
div.grid-item.background.blue {
	background-color: powderblue;
}
div.grid-item.background.red {
	background-color: powderred;
}

.tile {
	border: 1px solid black;
	width: 50px;
	height: 50px;
}
.tile.beige {
	background-color: beige;
}
.tile.green {
	background-color: green;
}
.tile.orange {
	background-color: orange;
}
.tile.black {
	background-color: black;
}

#sidebar {
	background: grey;
	padding: 20px;
	color: white;
	width: 70px;
	text-align: center;
}
span.data {
	color: black;
	background-color: white;
	padding: 5px;
	display: inline;
}
